/* Proteins Added */
QGroupBox#proteins_added {
    background-color: #f1d983;
}

/* Backdrop */
QGroupBox#backdrop {
    background-color: #545454;
}

/* Molecule */
QLabel#backdrop {
    background-color: #000000;
}
